In [1]:
import pandas as pd
import numpy as np

In [4]:
cats = pd.read_csv("cats_us_23Jan2023_.csv")
cats.head()

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,animal_id,animal_type,organization_id.1,primary_photo_cropped
0,59545481,IL612,https://www.petfinder.com/cat/jasper-59545481/...,Cat,Cat,Young,Male,Medium,Long,[],...,hydeparkcatsadoptions@gmail.com .,http://hydeparkcats.org/contact/,Chicago,IL,60615,US,59545481,cat,il612,NaN
1,59545478,NY1169,https://www.petfinder.com/cat/boots-is-well-do...,Cat,Cat,Young,Male,Medium,NaN,"['Friendly', 'Couch potato', 'Brave', 'Affecti...",...,NaN,NaN,South Salem,NY,10590,US,59545478,cat,ny1169,NaN
2,59545475,FL623,https://www.petfinder.com/cat/mr-marvelous-595...,Cat,Cat,Senior,Male,Large,NaN,[],...,NaN,NaN,St. Cloud,FL,34770,US,59545475,cat,fl623,NaN
3,59545474,GA170,https://www.petfinder.com/cat/stevie-nicks-595...,Cat,Cat,Adult,Female,Medium,NaN,[],...,NaN,NaN,Cumming,GA,30040,US,59545474,cat,ga170,NaN
4,59545469,PA1036,https://www.petfinder.com/cat/rios-59545469/pa...,Cat,Cat,Adult,Male,Medium,Short,[],...,PO Box 54845,NaN,Philadelphia,PA,19148,US,59545469,cat,pa1036,NaN

In [34]:
cats_col = cats[['id', 'type', 'species', 'age', 'gender', 'size', 'coat', 'name', 'distance', 'breeds.primary', 'breeds.secondary', 'breeds.mixed',
       'breeds.unknown', 'colors.primary', 'animal_type', 'distance',
       'contact.address.city', 'contact.address.state', 'contact.address.postcode','contact.address.country']]
cats_col

,id,type,species,age,gender,size,coat,name,distance,breeds.primary,breeds.secondary,breeds.mixed,breeds.unknown,colors.primary,animal_type,distance,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country
0,59545481,Cat,Cat,Young,Male,Medium,Long,Jasper,NaN,Domestic Long Hair,NaN,True,False,Orange / Red,cat,NaN,Chicago,IL,60615,US
1,59545478,Cat,Cat,Young,Male,Medium,NaN,Boots is well... THE best! FRONT DECLAW,NaN,Tabby,Silver,True,False,Tabby (Gray / Blue / Silver),cat,NaN,South Salem,NY,10590,US
2,59545475,Cat,Cat,Senior,Male,Large,NaN,Mr. Marvelous,NaN,Maine Coon,Domestic Long Hair,True,False,NaN,cat,NaN,St. Cloud,FL,34770,US
3,59545474,Cat,Cat,Adult,Female,Medium,NaN,Stevie Nicks,NaN,Domestic Medium Hair,NaN,False,False,NaN,cat,NaN,Cumming,GA,30040,US
4,59545469,Cat,Cat,Adult,Male,Medium,Short,Rios,NaN,Domestic Short Hair,NaN,False,False,Black & White / Tuxedo,cat,NaN,Philadelphia,PA,19148,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104395,3087387,Cat,Cat,Senior,Female,Small,NaN,Theresa,NaN,Tortoiseshell,Domestic Short Hair,True,False,NaN,cat,NaN,Vacaville,CA,95687,US
104396,2988531,Cat,Cat,Adult,Female,Large,NaN,Angel Cat,NaN,Domestic Short Hair,NaN,True,False,Black,cat,NaN,East Hampton,NY,11937,US
104397,2939452,Cat,Cat,Young,Female,Medium,NaN,**FOSTER INFO**,NaN,Domestic Short Hair,Domestic Long Hair,True,False,NaN,cat,NaN,Stoney Creek,ON,L8J 2P7,CA
104398,2571142,Cat,Cat,Adult,Female,Medium,NaN,Catnip cat quilts,NaN,Domestic Short Hair,NaN,True,False,NaN,cat,NaN,Cheboygan,MI,49721,US
104399,2482447,Cat,Cat,Senior,Female,Medium,NaN,Shortcake,NaN,Tiger,NaN,True,False,Gray / Blue / Silver,cat,NaN,East Hampton,NY,11937,US

In [23]:
cats_col.groupby(['contact.address.country','contact.address.state']).size() \
        .reset_index(name='count').sort_values(['count'], ascending=False).head(10)

   contact.address.country contact.address.state  count
17                      US                    CA  11337
58                      US                    TX   6679
22                      US                    FL   6604
52                      US                    PA   6194
48                      US                    NY   5998
28                      US                    IL   4656
49                      US                    OH   4440
36                      US                    MI   4147
45                      US                    NJ   4002
60                      US                    VA   3415

In [24]:
dogs = pd.read_csv("dogs_us_23Jan2023_.csv")
dogs.head()

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,animal_id,animal_type,organization_id.1,primary_photo_cropped
0,59541454,ON588,https://www.petfinder.com/dog/daisy-59541454/o...,Dog,Dog,Adult,Female,Small,Short,"['Friendly', 'Affectionate', 'Playful']",...,NaN,NaN,Toronto,ON,M4S 0A7,CA,59541454,dog,on588,NaN
1,59541453,SC11,https://www.petfinder.com/dog/happy-nov-22-595...,Dog,Dog,Adult,Male,Large,NaN,[],...,NaN,NaN,Pacolet,SC,29372,US,59541453,dog,sc11,NaN
2,59541450,CA2999,https://www.petfinder.com/dog/bonbom-59541450/...,Dog,Dog,Young,Female,Small,NaN,"['Loyal', 'Playful', 'Smart', 'Protective', 'B...",...,NaN,NaN,Ramona,CA,92065,US,59541450,dog,ca2999,NaN
3,59541447,CT566,https://www.petfinder.com/dog/sugar-59541447/n...,Dog,Dog,Baby,Female,Large,Medium,"['Friendly', 'Affectionate', 'Loyal', 'Gentle'...",...,NaN,NaN,Chatham,NJ,07928,US,59541447,dog,ct566,NaN
4,59541446,TN850,https://www.petfinder.com/dog/darling-59541446...,Dog,Dog,Adult,Female,Medium,NaN,"['At Risk', 'Heartworm Positive']",...,2350 Appling City Cove,NaN,Memphis,TN,38133,US,59541446,dog,tn850,NaN

In [26]:
dogs.columns

Index(['id', 'organization_id', 'url', 'type', 'species', 'age', 'gender',
       'size', 'coat', 'tags', 'name', 'description', 'organization_animal_id',
       'photos', 'videos', 'status', 'status_changed_at', 'published_at',
       'distance', 'breeds.primary', 'breeds.secondary', 'breeds.mixed',
       'breeds.unknown', 'colors.primary', 'colors.secondary',
       'colors.tertiary', 'attributes.spayed_neutered',
       'attributes.house_trained', 'attributes.declawed',
       'attributes.special_needs', 'attributes.shots_current',
       'environment.children', 'environment.dogs', 'environment.cats',
       'primary_photo_cropped.small', 'primary_photo_cropped.medium',
       'primary_photo_cropped.large', 'primary_photo_cropped.full',
       'contact.email', 'contact.phone', 'contact.address.address1',
       'contact.address.address2', 'contact.address.city',
       'contact.address.state', 'contact.address.postcode',
       'contact.address.country', 'animal_id', 'animal_type',
       'organization_id.1', 'primary_photo_cropped'],
      dtype='object')

In [27]:
dogs_col = dogs[['id', 'type', 'species', 'age', 'gender', 'size', 'coat', 'name', 'distance', 'breeds.primary', 'breeds.secondary', 'breeds.mixed',
       'breeds.unknown', 'colors.primary', 'animal_type',
       'contact.address.city', 'contact.address.state', 'contact.address.postcode','contact.address.country']]
dogs_col

,id,type,species,age,gender,size,coat,name,distance,breeds.primary,breeds.secondary,breeds.mixed,breeds.unknown,colors.primary,animal_type,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country
0,59541454,Dog,Dog,Adult,Female,Small,Short,Daisy,NaN,Jack Russell Terrier,NaN,False,False,White / Cream,dog,Toronto,ON,M4S 0A7,CA
1,59541453,Dog,Dog,Adult,Male,Large,NaN,Happy Nov 22,NaN,Standard Poodle,NaN,False,False,NaN,dog,Pacolet,SC,29372,US
2,59541450,Dog,Dog,Young,Female,Small,NaN,Bonbom,NaN,Poodle,NaN,False,False,White / Cream,dog,Ramona,CA,92065,US
3,59541447,Dog,Dog,Baby,Female,Large,Medium,Sugar,NaN,Great Pyrenees,Shepherd,True,False,White / Cream,dog,Chatham,NJ,07928,US
4,59541446,Dog,Dog,Adult,Female,Medium,NaN,Darling,NaN,Mixed Breed,NaN,False,False,Gray / Blue / Silver,dog,Memphis,TN,38133,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90195,58111223,Dog,Dog,Adult,Male,Medium,NaN,Heath,NaN,Shepherd,NaN,False,False,Black,dog,Troy,IL,62294,US
90196,58111161,Dog,Dog,Young,Male,Medium,Short,Lucky,NaN,German Shepherd Dog,NaN,True,False,Red / Chestnut / Orange,dog,Oakdale,CA,95361,US
90197,58111146,Dog,Dog,Adult,Male,Medium,NaN,Ralph,NaN,Hound,NaN,False,False,NaN,dog,Kendallville,IN,46755,US
90198,58111147,Dog,Dog,Adult,Male,Medium,NaN,Donny,NaN,American Bulldog,NaN,False,False,NaN,dog,Kendallville,IN,46755,US
90199,58111120,Dog,Dog,Adult,Male,Large,Short,Shadow,NaN,Mixed Breed,NaN,True,False,NaN,dog,Boucherville,QC,J4B 7K2,CA

In [33]:
# dogs_col.groupby(['contact.address.country','contact.address.state']).size() \
#         .reset_index(name='count').sort_values(['count'], ascending=False).head(10)
print(len(dogs_col))
dogs_col[dogs_col['colors.primary'].isna()]

90200

,id,type,species,age,gender,size,coat,name,distance,breeds.primary,breeds.secondary,breeds.mixed,breeds.unknown,colors.primary,animal_type,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country
1,59541453,Dog,Dog,Adult,Male,Large,NaN,Happy Nov 22,NaN,Standard Poodle,NaN,False,False,NaN,dog,Pacolet,SC,29372,US
11,59541431,Dog,Dog,Adult,Female,Medium,NaN,Molly,NaN,Australian Cattle Dog / Blue Heeler,NaN,False,False,NaN,dog,Vernon,TX,76384,US
15,59541419,Dog,Dog,Baby,Female,Large,NaN,Bluey,NaN,German Shepherd Dog,NaN,True,False,NaN,dog,Cranford,NJ,07016,US
18,59541415,Dog,Dog,Young,Female,Small,Medium,Little Brandy,NaN,Yorkshire Terrier,Maltese,True,False,NaN,dog,Ramona,CA,92065,US
22,59541407,Dog,Dog,Baby,Female,Large,NaN,Pretzel,NaN,German Shepherd Dog,NaN,True,False,NaN,dog,Cranford,NJ,07016,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90190,58111575,Dog,Dog,Young,Female,Medium,NaN,MALTA,NaN,Pit Bull Terrier,Mixed Breed,True,False,NaN,dog,Houston,TX,77076,US
90191,58111329,Dog,Dog,Young,Male,Large,NaN,CREED,NaN,Pit Bull Terrier,NaN,False,False,NaN,dog,Fort Walton Beach,FL,32548,US
90197,58111146,Dog,Dog,Adult,Male,Medium,NaN,Ralph,NaN,Hound,NaN,False,False,NaN,dog,Kendallville,IN,46755,US
90198,58111147,Dog,Dog,Adult,Male,Medium,NaN,Donny,NaN,American Bulldog,NaN,False,False,NaN,dog,Kendallville,IN,46755,US
90199,58111120,Dog,Dog,Adult,Male,Large,Short,Shadow,NaN,Mixed Breed,NaN,True,False,NaN,dog,Boucherville,QC,J4B 7K2,CA